<h1>
<hr style=" border:none; height:3px;">
<center>SHIA - Results analysis</center>
<hr style=" border:none; height:3px;">
</h1>

<center><img src='https://netacad.centralesupelec.fr/img/cs.jpg' width=200></center>

<h4><center>Louis LHOTTE | Ambroise MARTIN-ROUVILLE | Paul-Alexandre MARENGHI | Paul LE BELLOCH</center></h4>

# 0 - Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Data analysis

# I.1 - Reading

In [7]:
df_joy = pd.read_excel('./Data/results.xlsx', sheet_name='Joy')
df_joy.head(12)

   Emotion  # questions  N° example  Music pertinence  VAD pertinence
0      Joy          1.0         1.0               2.0             NaN
1      NaN          NaN         2.0               4.0             NaN
2      NaN          NaN         3.0               1.0             NaN
3      NaN          NaN         4.0               3.0             NaN
4      NaN          NaN         5.0               1.0             NaN
5      NaN          NaN         6.0               0.0             NaN
6      NaN          NaN         7.0               3.0             NaN
7      NaN          NaN         8.0               4.0             NaN
8      NaN          NaN         9.0               1.0             NaN
9      NaN          NaN        10.0               1.0             NaN
10     NaN          NaN         NaN               NaN             NaN
11     NaN          4.0         1.0               2.0             NaN

In [4]:
df_anger = pd.read_excel('./Data/results.xlsx', sheet_name='Anger')
df_anger.head(1)

  Emotion  # questions  N° example  Range
0   Anger          1.0         1.0    NaN

In [5]:
df_sadness = pd.read_excel('./Data/results.xlsx', sheet_name='Sadness')
df_sadness.head(1)

   Emotion  # questions  N° example  Music pertinence  VAD pertinence
0  Sadness          1.0         1.0               4.0             NaN

In [6]:
df_fear = pd.read_excel('./Data/results.xlsx', sheet_name='Fear')
df_fear.head(1)

  Emotion  # questions  N° example  Music pertinence VAD pertinence
0    Fear          1.0         1.0               5.0            NaN

## I.2 - Pre-processing

In [15]:
def clean_emotion_dataframe(df_raw):
    df_cleaned = df_raw.ffill()
    df_cleaned = df_cleaned.dropna(subset=["N° example"])
    df_cleaned = df_cleaned.rename(columns={
        "Emotion": "Emotion",
        "# questions": "# question",
        "N° example": "# example",
        "Music pertinence": "Music pertinence",
        "VAD pertinence": "AD pertinence"
    })
    df_cleaned = df_cleaned.reset_index(drop=True)
    df_cleaned = df_cleaned[['Emotion', '# question', 'Music pertinence', 'AD pertinence']]
    return df_cleaned

cleaned_fear_df = clean_emotion_dataframe(df_fear)
cleaned_fear_df.head()

  Emotion  # question  Music pertinence AD pertinence
0    Fear         1.0               5.0           NaN
1    Fear         1.0               4.0           NaN
2    Fear         1.0               3.0           NaN
3    Fear         1.0               4.0           NaN
4    Fear         1.0               4.0           NaN

In [17]:
cleaned_joy_df = clean_emotion_dataframe(df_joy)
cleaned_sadness_df = clean_emotion_dataframe(df_sadness)
# cleaned_anger_df = clean_emotion_dataframe(df_anger) # → Need harmonization